<!DOCTYPE html>
<html>
    <head>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{{app_path}}\static\materialize.min.css"/>
        <title>Trainingsplan</title>
        <style>
            p {
                margin: 8px 16px;
                background-color: aquamarine;
                padding: 12px 24px;
                border: 1px solid black;
                border-radius: 4px;
            }
        </style>
    </head>
    <body>
        <h1>Plan {{plan_id}}: {{plan_name|e}}</h1>
        <p class="flow-text">Beschreibung: {{plan_description}}</p>
        <h2>Einheiten:</h2>
        {% for unit in unit_data -%}
        <h3>Einheit {{unit['ID']}}: {{unit['NAME']|e}} ({{unit['DURATION']}})</h3>
        <p>Kategorien: {{unit['CATEGORY']}}</p>
        <p class="flow-text">{{unit['DESCRIPTION']}}</p>
        {% for exercise in unit['EXERCISE'] -%}
        <h4>Übung {{exercise['ID']}}: {{exercise['NAME']|e}} ({{exercise['DURATION']}})</h4>
        <p>Kategorien: {{exercise['CATEGORY']|e}}</p>
        <p class="flow-text">{{exercise['DESCRIPTION']}}</p>
        <a href={{exercise['URL']}} target="_blank">{{exercise['VIDEO_URL']}}</a><br>
        <p>Ressourcen: {{exercise['RESOURCE']|e}}</p>
        {%- endfor %}
        {%- endfor %}

        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="{{app_path}}\static\materialize.min.js"></script>
    </body>
</html>